<!DOCTYPE html>
<html>
<head>
    <title>School - View All</title>
</head>
<body>

<h1>Schools</h1>
<a href="/school/add"> Add New School</a> <br />
<table border="1">
    <tr>
        <th>School ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><a href="/school/?school_id=<%= result[i].school_id %>">
                <%= result[i].school_id %>
            </a></td>
        <td><a href="/school/?school_id=<%= result[i].school_name %>">
                <%= result[i].school_name %>
            </a></td>
        <td><%= result[i].street %>, <%= result[i].zip_code %>
            </td>

        <td><a href="/school/edit/?school_id=<%= result[i].school_id %>">
                Edit
            </a></td>
        <td><a href="/school/delete/?school_id=<%= result[i].school_id %>">
                Delete
            </a></td>
    </tr>
    <% } %>
</table>

</body>
</html>